{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_diary') }}" method=post class=add-diary>
<dl>
<dt class="diarytitle">Title:
<dd><input type=text size=40 name=title>
<dt class="diarytitle">Today's Diary:
<dd><textarea name=text rows=7 cols=50></textarea>
<dd><input type=submit value=Save class="button">
</dl>
</form>
<p class="blank">Your heart must be more than here, right?</p>
{% endif %}
<ul class=diaries>
{% for diary in diaries %}
<li><h5>{{ diary.date  }}</h5><h2>{{ diary.title }}</h2>{{ diary.text|safe }}
{% else %}
<li><em>Unbelievable. No diaries here so far</em>
{% endfor %}
</ul>
{% endblock %}
